/*
 Theme Name:   Paperback Child Theme
 Description:  Modifizierungen an dem Paperback WP Theme
 Author:       Raffael Ernst
 Author URI:   http://www.raffaelernst.ch/
 Template:     paperback
 Version:      1.0
 Text Domain:  paperback-child
*/


/**
 * KK Star Ratings
 */

.kk-star-ratings.lft {
    position: relative;
    float: none !important;
    width: 100% !important;
    padding: 3%;
    background: #ecf1f7;
    color: #3ea9f5;
}
.kk-star-ratings:before {
    content: 'Wie hat Ihnen diese Seite gefallen?';
    display: block;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.25px;
}
.kksr-stars {
    width: 120px;
    margin: 0 auto !important;
}


/**
 * CSS Child Theme
 */
.footnote {

  a {
    font-weight: 700 !important;
    font-size: 100% !important;
    border-bottom: none !important;
  }
}

.footnotes {
  &:before {
    content: "Quellenangaben:";
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    width: 50%;
    margin-right: 50%;
    border-bottom: 4px solid black;
    float: left;
  }

  ol {
    padding-left: 1.5em;
  }

  li {
    float: left;
  }
}





/**
 * Most Important List
 */
.egm-mostimportantlist {
    margin: 0 0 1.5em;
    float: none;
    overflow: hidden;
    width: 100%;
    background: #fafbfc;
    padding: 0.75em 1.5em;
  }

  .egm-mostimportantlist__article {
    float: left;
    width: 23%;
    padding: 0.75em 1.5em;
    text-align: center;
    background: #fff;
    margin-right: 2.666%;
    border: 1px solid #E7EBF1;
  }

  .egm-mostimportantlist__article__heading {
    font-weight: bold;
    display: block;
  }

  .egm-mostimportantlist__article a {
    padding: 0.25em 1.5em;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    transition: .2s ease-in-out;
    border-bottom: none;
  }

  .egm-mostimportantlist__article img {
    width: 120px;
    border-radius: 50%;
    margin: 1em 0 0 0;
    filter: grayscale(0.5);
  }

  .container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 5%;
  display: block;
  position: relative;
}

.egm-mostimportantlist__article:nth-last-of-type(1) {
    margin-right: 0;
}

.egm-mostimportantlist__article:hover {
    background: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width : 800px) {
 .egm-mostimportantlist__article {
     width: 100%;
     margin-bottom: 1.5em;
 }
}


/**
 * List Children
 */

 .widget_egm_list_children, .widget_egm_list_product {
     background: #ECF1F7;
     padding: 0.75em 1.5em;
     padding-bottom: 1.5em !important;
     overflow: hidden;
 }

 .widget_egm_list_children .egm-list-parent, .widget_egm_list_product .egm-list-parent {
     display: block;
     width: 100%;
     text-align: center;
     font-weight: 700;
     font-size: 1.5em;
 }

 .widget_egm_list_children .egm-list-parent img, .widget_egm_list_product .egm-list-parent img {
    display: table;
    width: 100px;
    border-radius: 50%;
    margin: 1em auto;
}

.widget_egm_list_children .egm-list-child, .widget_egm_list_product .egm-list-child {
    width: 100%;
    padding: 0.25em 0;
    float: left;
    overflow: hidden;
}

.egm-didyouknow, .egm-brand, .widget_egm_list_children, .egm-relatedposts {
    background-color: #e6e6e6 !important;
}

.widget_egm_list_children .egm-list-child img, .widget_egm_list_product .egm-list-child img {
    width: 17% !important;
    height: auto;
    border-radius: 50%;
    margin-right: 5%;
    display: inline-flex;
}

.widget_egm_list_children .egm-list-child li, .widget_egm_list_product .egm-list-child li {
    width: 100%;
    display: flex;
    align-items: center;
}

.widget_egm_list_children .egm-list-child span, .widget_egm_list_product .egm-list-child span {
    width: 78%;
    display: inline-flex;
}


/**
 * Brand Box
 */

 .egm-brand {
    position: relative;
    width: 100%;
    padding: 30px 45px 30px;
    margin-bottom: 1.5em;
    background: #EAF1F5;
    overflow: hidden;
}

.egm-brand .egm-brand__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.egm-brand .egm-brand__title, .egm-brand .egm-brand__sub-title, .egm-brand .egm-brand__button {
    display: table;
    float: none;
}

.egm-brand .egm-brand__sub-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.egm-brand .egm-brand__image {
    float: left;
    width: 33%;
    padding-top: 8px;
    padding-right: 30px;
}

.egm-brand .egm-brand__content {
    float: right;
    width: 66%;
}

.egm-brand .egm-brand__button {
    margin-top: 20px;
    padding: 4px 20px;
    background: blue;
    border-radius: 15px;
    color: white!important;
}

.entry-content a:not([class*="button"]) {
    color: #343E47;
    border-bottom: 2px solid #C4D1E0;
    transition: .2s ease-in-out;
}

.egm-brand a {
    border-bottom: none!important;
}
